APP_NAME="Penerimaan Siswa Baru"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=pendaftaran_siswa
DB_USERNAME=root
DB_PASSWORD=

MAIL_ENABLED=false
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_ENCRYPTION=tls
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=psb@miirsyadulathfal.sch.id
MAIL_FROM_NAME="PSB MI Irsyadul Athfal"
MAIL_TIMEOUT=20
